# for 흐름제어
# for in <collection>
#    <Loop body>

In [2]:
for v1 in range(10) :
    print('v1 is :', v1)

v1 is : 0
v1 is : 1
v1 is : 2
v1 is : 3
v1 is : 4
v1 is : 5
v1 is : 6
v1 is : 7
v1 is : 8
v1 is : 9

In [9]:
for v2 in range(1, 11) :
    print('v2 is :', v2)

v2 is : 1
v2 is : 2
v2 is : 3
v2 is : 4
v2 is : 5
v2 is : 6
v2 is : 7
v2 is : 8
v2 is : 9
v2 is : 10

In [11]:
for v3 in range(1, 11, 2) :
    print('v3 :', v3)

v3 : 1
v3 : 3
v3 : 5
v3 : 7
v3 : 9

In [18]:
sum1 = 0

for v in range(1, 1001) :
    sum1 += v

print('1 ~ 1000 sum :', sum1)


print('1 ~ 1000 sum :', sum(range(1, 1001)))

1 ~ 1000 sum : 500500
1 ~ 1000 sum : 500500

In [20]:
print('1 ~ 1000 4의 배수의 함 :', sum(range(1, 1001, 4)))

1 ~ 1000 4의 배수의 함 : 124750

In [27]:
# Iterables 자료형 반복
# 문자열, 리스트, 튜플, 집합, 사전
# Iterables 리턴 함수 : range, reversed, enumerate, filter, map, zip

names = ['Kim', 'Park', 'Cho', 'Lee', 'Choi', 'Yoo'] # 리스트

for name in names :
    print('You are :', name)

lotto_numbers = [11, 14, 45, 35, 24, 40]

for n in lotto_numbers :
    print("로또 번호 :", n)


word = "Beautiful"

for s in word :
    print('word :',s)

You are : Kim
You are : Park
You are : Cho
You are : Lee
You are : Choi
You are : Yoo
로또 번호 : 11
로또 번호 : 14
로또 번호 : 45
로또 번호 : 35
로또 번호 : 24
로또 번호 : 40
word : B
word : e
word : a
word : u
word : t
word : i
word : f
word : u
word : l

In [37]:
my_info = {\
           "name" : 'Kim',
           "Age" : 26,
           "city" : 'incheon'
}


for k in my_info :  # key를 가져올 때
    print('key :', k)

for key in my_info :  # value를 가져올 때
    print('key :', my_info[key])

for key in my_info :
    print('key :', my_info.get(key))

key : name
key : Age
key : city
key : Kim
key : 26
key : incheon
key : Kim
key : 26
key : incheon

In [38]:
for v in my_info.values() :
    print('value :', v)

value : Kim
value : 26
value : incheon

In [39]:
name = 'PineApPle'

for n in name :
    if n.isupper() :  # 대문자 이라면
        print(n)
    else :
        print(n.upper()) # 대문자로 만드는거

P
I
N
E
A
P
P
L
E

In [53]:
# break

numbers = [14, 3, 7, 10, 54, 74, 35, 2, 24, 34, 69, 88]

for n in numbers :
    if n == 34 :
        print('Found : 34!')
        break   # 34 이후에는 출력되지 않고 멈추게 한다
    else :
        print('Not Found :', n)

Not Found : 14
Not Found : 3
Not Found : 7
Not Found : 10
Not Found : 54
Not Found : 74
Not Found : 35
Not Found : 2
Not Found : 24
Found : 34!

In [47]:
# continue
# 어떠한 조건안에서 continue를 만나면 다시 검사를 진행함

lt = ["1", 2, 5, True, 4.3, complex()]

for v in lt :
    if type(v) is bool :
        continue   # bool형을 스킵 시킨다
    print("current type :", type(v))
    print("multiply by 2", v * 3)

current type : <class 'str'>
multiply by 2 111
current type : <class 'int'>
multiply by 2 6
current type : <class 'int'>
multiply by 2 15
current type : <class 'float'>
multiply by 2 12.899999999999999
current type : <class 'complex'>
multiply by 2 0j

In [51]:
# for - else

numbers = [14, 3, 7, 10, 54, 74, 35, 2, 24, 34, 69, 88]

for num in numbers :
    if num == 99 :
        print("Found : 99")
        break
else :
    print("Not Found : 99")

Not Found : 99

In [56]:
for i in range(2, 10) :
    for j in range(1, 10) :
        print('{:4d}'.format(i*j), end = '') # end = '' 줄바꿈 
    print() # 줄 바꿈

   2   4   6   8  10  12  14  16  18
   3   6   9  12  15  18  21  24  27
   4   8  12  16  20  24  28  32  36
   5  10  15  20  25  30  35  40  45
   6  12  18  24  30  36  42  48  54
   7  14  21  28  35  42  49  56  63
   8  16  24  32  40  48  56  64  72
   9  18  27  36  45  54  63  72  81

In [64]:
name2 = 'Aceman'

print('Reversed', reversed(name2))
print('List', list(reversed(name2)))
print('Tuple', tuple(reversed(name2)))
print('Set', set(reversed(name2)))

Reversed <reversed object at 0x000001FE7675F220>
List ['n', 'a', 'm', 'e', 'c', 'A']
Tuple ('n', 'a', 'm', 'e', 'c', 'A')
Set {'e', 'c', 'a', 'n', 'A', 'm'}