# if 구문

In [1]:
# 기본 형식
print(type(True)) # 0이 아닌 수, 'abc', [1, 2, 3] ...
print(type(False)) # 0, "", [], (), {} ...

<class 'bool'>
<class 'bool'>

In [4]:
# if 조건식 :
    # print()

if 'a':
    print('good')

if False:
    print('bad')  # False라 출력이 안됨

good

In [5]:
if False :
    print('Bad')
else :
    print('Good')

Good

In [8]:
# 관계 연산자
# >, >=, <, <=, ==, !=

x = 15
y = 10

# 양 변이 같을때 True
print(x == y)

# 양 변이 다를 때 True
print(x != y)

print(x > y)

print(x >= y)

print(x < y)

print( x <= y)

False
True
True
True
False
False

In [9]:
city = ""

if city :
    print("You are in:", city)
else :
    print("Please enter your city")

Please enter your city

In [11]:
city2 = "Incheon"

if city2 :
    print("You are in:", city2)
else :
    print("Please enter your city")

You are in: Incheon

In [15]:
# 논리 연산자
# and, or, not

a = 75
b = 40
c = 10

print('and :', a > b and b > c) # a > b > c 
print('or :', a > b or b > c)
print('not :', not a > b) # 반대로 출력
print(not True)

and : True
or : True
not : False
False

In [23]:
# 산술, 관계, 논리 우선순위
print('e1 :', 3+12 > 7+3)
print('e2 :', 5 + 10 * 3 > 7 + 3 * 20)
print('e3 :', 5 + 10 > 3 and 7 + 3 == 10)
print('e4 :', 5 + 10 > 0 and not 7 + 3 == 10)

e1 : True
e2 : False
e3 : True
e4 : False

In [24]:
score1 = 90
score2 = 'A'

# 복수의 조건이 모두 참일 경우에 실행
if score1 >= 90 and score2 == 'A' :
    print('Pass')
else :
    print('Fail')

Pass

In [26]:
id1 = 'vip'
id2 = 'admin'
grade = 'platinum'

if id1 == 'vip' or id2 == 'admin' :
    print('관리자 입장')


if id2 == 'admin' and grade == 'platinum' :
    print('최상위 관리자')

관리자 입장
최상위 관리자

In [28]:
# 다중 조건문

num = 60

if num >= 90 :
    print('Grade : A')
elif num >= 80 :
    print('Grade : B')
elif num >= 70 :
    print('Grade : C')
else:
    print('Grade : F')

Grade : F

In [32]:
# 중첩 조건문

grade = 'A'
total = 75

if grade == 'A' :
    if total >= 90 :
        print('장학금 100%')
    elif total >= 80 :
        print('장학금 80%')
    else :
        print('장학금 50%')
else :
    print('장학금 0%')

장학금 50%

In [43]:
# in, not in

q = [10, 20, 30]
w = {70, 80, 90, 100}
e = {'name' : 'sungwoo',
     'city' : 'incheon',
     'grade' : 'A'}
r = (10, 12, 14)

print(15 in q)
print(90 in w)
print(12 not in r)
print('name' in e)
print('incheon' in e.values())

False
True
False
True
True