# print() 함수를 사용해서 여러가지 예를 만들어보자.
    - 가장 기본적인 함수
    - 어떤식으로 나오는지만 간단하게 보기

In [6]:
# 기본 출력
print('python start!')
print("python start!")
print() # 띄워쓰기로 사용도 가능
print('''python start!''')
print("""python start!""")
# 네개는 똑같은 값을 출력한다

python start!
python start!

python start!
python start!

In [13]:
# separator 옵션
print('p', 'y', 't', 'h', 'o', 'n')
print('p', 'y', 't', 'h', 'o', 'n', sep = '')
print('p', 'y', 't', 'h', 'o', 'n', sep = ',')
print('010', '5780', '9833', sep = '-') # 내 전화번호를 하이퍼를 넣어서 출력
print('kile16', 'naver.com', sep = '@')

p y t h o n
python
p,y,t,h,o,n
010-5780-9833
kile16@naver.com

In [20]:
# end 옵션
print('Welcome to', end = '')
print('IT News', end = '    ')
# 기존 print() 함수를 쓰면 줄바꿈이 되지만, end 옵션에 '' 빈칸이면 다음 출력값이 붙어서 나온다.

print('Welcome to', end = '')
print('IT News')

Welcome toIT News    Welcome toIT News

In [23]:
# file 옵션
import sys 

print('Learn Python', file = sys.stdout)

Learn Python

In [28]:
# format 사용(d : 3, s : 'python', f : 3.14)      d = 정수, s = 문자열, f = 실수
print('%s %s' % ('one', 'two'))  # %s 문자열 두개 대체 할 수 있음 (다리 같은 역활)
print('{} {}'.format('one', 'two'))
print('{1} {0}'.format('one', 'two')) # 0인 one이 먼저오고, 1인 two가 두번째로 온다. python은 0부터 시작

one two
one two
two one

In [41]:
# %s 문자열  s생략 가능
print('%10s' % ('nice')) # 자리가 10개인걸 출력하고 마지막에 nice가 온다
print('{:>10}'.format('nice'))

print('%-10s' % ('nice')) # 반대로
print('{:10}'.format('nice'))

print('{:_>10}'.format('nice')) # 밑줄로 표시하기
print('{:$>10}'.format('nice'))
print('{:^10}'.format('nice')) # 중앙 정렬

print('%.5s' % ('nice'))
print('%.5s' % ('sungwoo')) # 5글자 까지만 
print('%5s' % ('sungwoo'))

print('{:10.5}'.format('sungwoonice'))

      nice
      nice
nice
nice
______nice
$$$$$$nice
   nice
nice
sungw
sungwoo
sungw

In [46]:
# %d 정수
print('%d %d' % (1, 2))
print('{} {}'.format(1, 2))

print('%4d' % (42))
print('{:4d}'.format(42))

1 2
1 2
  42
  42

In [56]:
# %f 
print('%1.8f' % (3.1434343242343)) # 정수는 1자리, 소수부분은 8자리 까지 출력
print('{:f}'.format((3.1434343242343))) # 기본은 소수 6자리 까지

print('%06.2f' % (3.141592653589793)) # 총 6자리인데 소수는 2자리 설정이라 14가 나오고 나머지 4자리를 채워야하기 때문에 003.이 나온다.
print('{:06.2f}'.format(3.141592653589793))

3.14343432
3.143434
003.14
003.14